* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Poppins';
}

.container-products {
  display: flex;
  flex-direction: row;
}

.products {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  h1 {
    margin-bottom: 3rem;
  }
}

.card-product {
  background-color: red;
  width: 320px;
  text-align: left;
  border: solid 1px black;
  margin: 5px;
}

.form-product {
  width: 100%;
  border: 1px solid rgba(77, 77, 77, 0.4);
  border-radius: 6px;
  margin-bottom: 2rem;
}

.container-form {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 30px 30px;
  align-items: center;
}

.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;

  input {
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    padding: 8px;
  }
  input:focus {
    outline: none;
  }
  .status {
    width: 100%;
    padding: 8px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
  }
  select:focus {
    outline: none;
  }
}

.btn-submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: 4AD33F;
  border-radius: 4px;
  padding: 8px 25px;
  color: white;
  border: 0;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0.5rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  border-radius: 8px;
  padding: 0 0 1rem;
  justify-items: center;
  .card {
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: transparent;
    width: 300px;
    padding: 0 1rem 2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      margin: 1.5rem 0 0.3rem 0;
    }
    .code {
      font-size: 14;
      color: #bfbfbf;
    }
    .description {
      padding: 1rem 0;
      color: #7a7878;
      text-align: start;
    }
    .price {
      font-size: 24;
      font-weight: bold;
    }
    .class-section {
      padding: 1rem 0;
      text-align: start;
      color: #7a7878;
    }
  }

  .btn-delete {
    width: 150px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    width: 150px;
    background-color: #e40138;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: transparent;
    padding: 0.3rem 0;
    cursor: pointer;
  }
}
